{% extends "base.html" %}

{% block content %}
    
<ul>
    
    <h2>{{ title }}</h2>
    <p>{{ body }}</p>
    <p class="posted-date">Posted on: {{ posted_date }}</p>
    <p class='user'>Posted by: <a href="/blog?userid={{user_id}}">{{ user }}</a></p>

    
</ul>
        
        <ul>
            {% for blog in blogs %}
            <h2>{{ title }}</h2>
            <p>{{ body }}</p>
            <p class="posted-date">Posted on: {{ posted_date }}</p>
            <p class='user'>Posted by: <a href="/blog?userid={{user_id}}">{{ user }}</a></p>
    
            {% endfor %}
        </ul>

    

{% endblock %}